# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# compiled output 
bin/
out/

# test reports
test-output/
test-execution-result/
reports/
extent-reports/
allure-results/
allure-report/

# Logs
*.log
logs/

# ExtraFiles
screenshots/
downloads/


# ide
.vscode/
.idea/

# os
.DS_Store
Thumbs.db